In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('t20_ball_by_ball.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_10704\3019827052.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('t20_ball_by_ball.csv')

In [5]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211048,2004/05,2005-02-17,Eden Park,1,0.1,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211048,2004/05,2005-02-17,Eden Park,1,0.2,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,211048,2004/05,2005-02-17,Eden Park,1,0.3,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211048,2004/05,2005-02-17,Eden Park,1,0.4,Australia,New Zealand,MJ Clarke,AC Gilchrist,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211048,2004/05,2005-02-17,Eden Park,1,0.5,Australia,New Zealand,AC Gilchrist,MJ Clarke,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
top_teams = ['Australia', 'Sri Lanka', 'Ireland', 'Zimbabwe', 'India', 'Bangladesh', 'New Zealand', 'South Africa', 'England', 'West Indies', 'Afghanistan', 'Pakistan', 'ICC World XI']

In [8]:
df = df[df['batting_team'].isin(top_teams)]

In [9]:
df = df[df['bowling_team'].isin(top_teams)]

In [10]:
df['ball'] = df['ball'].astype(str)

In [11]:
df['over'] = df['ball'].str[:-1]
df['ball'] = df['ball'].str[-1:]

In [12]:
df['total_runs'] = df['runs_off_bat'] + df['extras']

In [13]:
df = df[['match_id', 'innings', 'batting_team', 'bowling_team', 'ball', 'over', 'total_runs', 'player_dismissed']]

In [14]:
df = df.fillna(0)

In [15]:
df['total'] = df.groupby(['match_id', 'innings'])['total_runs'].transform('sum') / 2

df['total_runs_now'] = df.groupby(['match_id', 'innings'])['total_runs'].cumsum()

df['run_rate'] = df['total_runs'] / df['ball'].astype(int)

df['wickets'] = df['player_dismissed'].apply(lambda x: 1 if x != 0 else 0)

# New Feature

In [16]:
last_30_balls = df.tail(30)

In [21]:
run_rate_last_30 = last_30_balls['total_runs'].sum() / last_30_balls['ball'].nunique()

bowling_average_last_30 = len('total_runs')/ len('wickets')

bowling_strike_rate_last_30 = len(last_30_balls) / last_30_balls['wickets'].sum()

batting_strike_rate_last_30 = (len('total runs')/ len('ball'))*100

batting_average_last_30 = last_30_balls['total_runs'].sum() / last_30_balls['wickets'].sum()

In [22]:
print("Run Rate (Last 30 balls):", run_rate_last_30)
print("Bowling Average (Last 30 balls):", bowling_average_last_30)
print("Bowling Strike Rate (Last 30 balls):", bowling_strike_rate_last_30)
print("Batting Strike Rate (Last 30 balls):", batting_strike_rate_last_30)
print("Batting Average (Last 30 balls):", batting_average_last_30)

Run Rate (Last 30 balls): 4.285714285714286
Bowling Average (Last 30 balls): 1.4285714285714286
Bowling Strike Rate (Last 30 balls): 10.0
Batting Strike Rate (Last 30 balls): 250.0
Batting Average (Last 30 balls): 10.0

# In this new feature we found last 30 balls
Runrate
Batting Average
Batting Strike Rate
Bowling Average
Bowling Strike Rate